// Variable overrides

$sidebar-nav-link-hover-color:       #009CC6;
$sidebar-nav-link-hover-bg:          #CCF4FF;
$sidebar-nav-link-hover-icon-color:  #009CC6;

$sidebar-nav-link-active-bg: #CCF4FF;
$sidebar-nav-link-active-icon-color : #009CC6;
$sidebar-nav-link-active-color: #009CC6;